@model Model.ViewModel.ProductViewWebModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container-fluid" style="height:auto; margin-top:30px!important;">

    <h1>Thông tin chi tiết sản phẩm</h1>
    <div class="row">
        <div class="col-sm-4">
            @*<img class="card-img-top" src="~/Images/Product/@Model.ProductDetail.Image" alt="@Model.ProductDetail.NameProduct">
                Add images to <div class="fotorama"></div>*@

            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="native">
                <img class="card-img-top" src="~/Images/Product/@Model.ProductDetail.Image" alt="@Model.ProductDetail.NameProduct" style="width:100%;">
                @foreach (var item in Model.listImageProduct)
                    {
                        <a href="~/Images/Product/@item.Image"><img src="~/Images/Product/Detail/@item.Image" width="144" height="96"></a>
                    }

            </div>
        </div>
        <div class="col-sm-8">
            <h2>Tên sản phẩm: @Model.ProductDetail.NameProduct</h2>
            @if (@Model.ProductDetail.PromotionPrice != null)
            {
                <h3>Giá sản phẩm: <strike>@Model.ProductDetail.Price <i>VND</i></strike></h3>
                <h3>Giá ưu đãi: @Model.ProductDetail.PromotionPrice <i>VND</i></h3>
            }
            else
            {
                <h3>Giá sản phẩm: @Model.ProductDetail.Price <i>VND</i></h3>
            }

            @*<h6>Giá ưu đãi: @Model.ProductDetail.PromotionPrice</h6>*@
            <p>Size:  @Model.SizeDetail.NameSize</p>
            <p>Màu: @Model.ColorDetail.NameColor</p>
            <p>
                
                <div class="buttons_added">
                    <span style="margin-right:50px;">Số lượng :</span> 
                    <input class="minus is-form" type="button" value="-">
                    <input aria-label="quantity" class="input-qty" max="@Model.ProductDetail.Quantity" min="1" id="txtQuantity" type="number" value="1" >
                    <input class="plus is-form" type="button" value="+" style="margin-right:20px;">
                </div>

                @Model.ProductDetail.Quantity sản phẩm có sẵn
            </p>
            <br/>
            <div style="float:right">
                <button class="btn btn-primary" style="margin-left:150px;"> Thêm giỏ hàng</button>

                <button class="btn btn-danger" style="margin-left:20px; margin-right:150px;"> 
                     @Html.ActionLink(" Mua hàng", "AddItem", "Cart", new { productId = @Model.ProductDetail.IdProduct, quantity =@"$('#txtQuantity').val()" },null) 
               </button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h6>Mô tả <!--biến thành dạng giống mắt thường mình thấy--></h6>
        </div>
        <div class="col-sm-12">
            @Html.Raw(Model.ProductDetail.Decription)
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/Content/css/buttonaddsl.css" rel="stylesheet" />
    <script>
        //<![CDATA[
        $('input.input-qty').each(function () {
            var $this = $(this),
                qty = $this.parent().find('.is-form'),
                min = Number($this.attr('min')),
                max = Number($this.attr('max'))
            if (min == 0) {
                var d = 0
            } else d = min
            $(qty).on('click', function () {
                if ($(this).hasClass('minus')) {
                    if (d > min) d += -1
                } else if ($(this).hasClass('plus')) {
                    var x = Number($this.val()) + 1
                    if (x <= max) d += 1
                }
                $this.attr('value', d).val(d)
            })
        })
//]]></script>
}



