@model List<Model.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách các sản phẩm
}

<!-- stylesheet lazy init -->
<link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet"/>

<div>
    <p>
        <buton class="btn btn-info">
            @Html.ActionLink("Thêm mới", "Create")
        </buton>

    </p>

</div>

<!-- datatable -->
<table id="dt_main" class="table  table-condensed table-striped table-bordered " style="border-collapse:collapse;">
    <thead>
        <tr>
            <th style="border: 1px solid #ccc;">
                STT
            </th>
            <th style="border: 1px solid #ccc;">
                Tên sản phẩm
            </th>
            <th style="border: 1px solid #ccc;">
                Mô tả sản phẩm
            </th>
            <th style="border: 1px solid #ccc;">
                Hình ảnh
            </th>
            <th style="border: 1px solid #ccc;">
                Giá
            </th>
            <th style="border: 1px solid #ccc;">
                Giá mới
            </th>
            <th style="border: 1px solid #ccc;">
                Số lượng
            </th>
            <th style="border: 1px solid #ccc;">
                Mã sản phẩm
            </th>
            <th style="border: 1px solid #ccc;">
                Ngày tạo
            </th>
            <th style="border: 1px solid #ccc;">
                Nhà cung cấp
            </th>
            <th style="border: 1px solid #ccc;">
                Loại sản phẩm
            </th>
            <th style="border: 1px solid #ccc;">
                Size
            </th>
            <th style="border: 1px solid #ccc;">
                Màu sắc
            </th>
            @*<th style="border: 1px solid #ccc;">
                Trạng thái
            </th>*@
            <th style="border: 1px solid #ccc; width:350px;">
                Xử lý
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            // Cai nay nen dung foreach
            var item = Model[i];
            <tr>
                <td style="border: 1px solid #ccc;">
                    @(i+1)
                </td>
                <td style="border: 1px solid #ccc;">
                    @item.NameProduct
                </td>
                
                <td style="border: 1px solid #ccc;">
                    @item.Decription
                </td>
                <td style="border: 1px solid #ccc;">
                    <img src="~/Images/Product/@item.Image" class="img_grid" />
                </td>
                <td style="border: 1px solid #ccc;">
                    @item.Price
                </td>
                <td style="border: 1px solid #ccc;">
                    @item.PromotionPrice
                </td>
                <td style="border: 1px solid #ccc;">
                    @item.Quantity
                </td>
                <td style="border: 1px solid #ccc;">
                    @item.Code
                </td>
                <td style="border: 1px solid #ccc;">
                    @item.CreateDay
                </td>
                <td style="border: 1px solid #ccc;">
                    @item.NameSupplier
                </td>
                <td style="border: 1px solid #ccc;">
                    @item.CategoryName
                </td>
                <td style="border: 1px solid #ccc;">
                    @item.NameSize
                </td>
                <td style="border: 1px solid #ccc;">
                    @item.NameColor
                </td>
                @*<td style="border: 1px solid #ccc;">
                    @item.Status
                </td>*@
                <td style="border: 1px solid #ccc;">
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IdProduct }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.IdProduct }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.IdProduct }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script>
        $.fn.dataTable.defaults.oLanguage = Object.assign($.fn.dataTable.defaults.oLanguage, {
            sSearch: 'Tìm kiếm: &nbsp;/',
            sEmptyTable: 'Không có bản ghi nào',
            sLengthMenu: 'Xem _MENU_ bản ghi',
            sZeroRecords: '<center>Không thấy bản ghi nào phù hợp</center>',
            sInfo: 'Hiển thị _START_ đến _END_ trong tổng số _TOTAL_',
            oPaginate: {
                sFirst: 'Đầu tiên',
                sLast: 'Cuối cùng',
                sNext: 'Trang tiếp',
                sPrevious: 'Trang trước'
            }
        });
        $('#dt_main').dataTable({
            lengthMenu: [[10, 20, 40, -1], [10, 20, 40, "Tất cả"]],
            pageLength: 20
        });
</script>
}
