<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Bootstrap core CSS -->

    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/css/shop-homepage.css" rel="stylesheet" />
    <!-- Link font chữ -->
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","Home")" style="font-weight:bold">BUI SHOES SHOP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Index","Home")">
                                Trang Chủ
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("About","Home")">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Services","Home")">Tin Tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container body-content">
            @RenderBody()
        </div>
    </main>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <section>
            <p class="m-0 text-center text-white">Copyright &copy; Đỗ Thu Hà/p>
        </section>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="~/Scripts/fotorama-4.6.4/fotorama.css" rel="stylesheet" />
    <script src="~/Scripts/fotorama-4.6.4/fotorama.js"></script>
    @RenderSection("scripts", required: false)
    <!-- Mỗi 1 layout chỉ có 1 RenderBody mà thôi nhưng RenderSection thì có rất nhiều -->
</body>
</html>
